<h3>Are you sure you want to delete this?</h3>

<div>
    <strong>@Model.Name</strong>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <input type="submit" value="Delete" class="btn btn-danger" />
    @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-secondary" })
}